{% import 'macros/form.html' as form %}


{% set data = data or {} %}
{% set errors = errors or {} %}
{#{% set action = form_action or h.url_for(controller='ckanext.harmonisation.controllers.package:CustomHarmonisationController',
    action='read_data_', id=pkg_name) %}
    #}
{% set action = h.url_for(controller='ckanext.harmonisation.controllers.package:CustomHarmonisationController',
action='view_rules') %}

<form class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form resource-form">


{% block primary_content %}
  <article class="module prose">
    {% block page_header %}
      <header class="module-content page-header">
        {# CKAN 2.1+ #}
        {% if authorized_user%}
          {% block content_action %}
            <div class="content_action">
              {{ self.admin_link() }}
            </div>
          {% endblock %}
        {% endif %}
        

  <ul class="nav nav-tabs">
          {% block page_header_tabs %}
			{{ h.build_nav_icon('main_dashboard', _('Dashboard'), icon='dashboard') }}
				{{ h.build_nav_icon('view_rules', _('View/Add Rules'),  icon='eye-open') }}
				{{ h.build_nav_icon('edit_rules', _('Edit Rules'), icon='edit') }}
          {% endblock %}
        </ul>
        
      </header>
    {% endblock %}
    {% block primary_content_inner %}
    
 {% call form.select('Select Rules Category', id='harmonise_category_selection', label=_('Select Rules Category '), options=[{ "value": "categories_values", "text": "Categories Values" },{ "value": "categories_labels", "text": "Categories Labels" },
          { "value": "dates", "text": "Dates" },  {'value':'formats', 'text':'File Formats'}, {'value':'licenses', 'text':'Licenses'}], selected=data.harmonise_category_selection, error=errors.harmonise_category_selection) %} 
           
        {% endcall %}
        
        
    {% call form.select('catalogue_selection', id='catalogue_selection', label=_('Catalogue'), options=h.harmonisation_sources_rules_list(), selected=data.catalogue_selection, error=errors.catalogue_selection) %} 
            <button class="btn" name="rules" value="view-rules" type="submit" >{{ _('View Mappings') }}</button>
        {% endcall %}


	<h3 class="hide-heading">{{ _('Details') }}</h3>
	
	
<table class="table table-striped table-bordered table-condensed">
  <colgroup>
    <col width="55">
    <col width="85">
  </colgroup>
  

  	{%if data['unharmonised']!=None%}
	  {%for key in data['unharmonised']%}
	  
	  {{ form.custom(
		names=('unharmonised_key'+'-'+key, 'unharmonised_value'+'-'+key, 'custom_deleted'+'-'+key),
		id='field-unharmonisedkey'+'-'+key,
		label=_('Unharmonised'),
		values=(key, data['unharmonised'][key],deleted),
		error='')
		}}
	  {%endfor%}
	{% endif %}
  
    
  {{ form.custom(
     names=('new_key', 'new_value', 'custom_deleted'),
     id='field-newkey',
     label=_('New Mapping'),
     values=(data.newkey, data.newvalue, data.deleted),
     error='')
}}
  
	{%if data['dictionary']!=None%}
	  {%for key in data['dictionary']%}
	
	  {{ form.custom(
		names=('new_key'+'-'+key, 'new_value'+'-'+key, 'custom_deleted'+'-'+key),
		id='field-newkey'+'-'+key,
		label=_('Mapping'),
		values=(key, data['dictionary'][key],deleted),
		error='')
		}}
	  {%endfor%}
	{% endif %}
	  
  

     
  
  
</table>
    
   

   
   {% endblock %}
  </article>
{% endblock %}




  {% block stages %}
    {# An empty stages variable will not show the stages #}
    {% if stage %}
      {{ h.snippet('package/snippets/stages.html', stages=stage, pkg_name=pkg_name) }}
    {% endif %}
  {% endblock %}

  {{ form.errors(error_summary) }}

  



   {% if authorized_user%}

  <div class="form-actions">
    
      <button class="btn btn-primary" name="save" value="viewrules-complete" type="submit">{{ _('Add Mapping') }}</button>
      
  </div>

{% endif %}




</form>