{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{#{% set action = form_action or h.url_for(controller='ckanext.harmonisation.controllers.package:CustomHarmonisationController',
    action='read_data_', id=pkg_name) %}
    #}
{% set action = h.url_for(controller='ckanext.harmonisation.controllers.package:CustomHarmonisationController',
action='read_data') %}




<form class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form resource-form">
  {% block stages %}
    {# An empty stages variable will not show the stages #}
    {% if stage %}
      {{ h.snippet('package/snippets/stages.html', stages=stage, pkg_name=pkg_name) }}
    {% endif %}
  {% endblock %}

  {{ form.errors(error_summary) }}







   


    <h1 class="module-heading">{{ _('Metadata to Harvest') }}</h1>
  



	<div class="harvest-types control-group">
    <label class="control-label">Source type</label>
    <div class="controls">
      {% for harvester in h.harvesters_info() %}
        {% set checked = False %}
        {# select first option if nothing in data #}
        {% if data.source_type == harvester['name'] or (not data.source_type and loop.first) %}
           {% set checked = True %}
        {% endif %}
        <label class="radio">
          <input type="radio" name="source_type" value="{{ harvester['name'] }}" {{ "checked " if checked }} data-module="harvest-type-change">
          {{ harvester['title'] }}
          <i class="icon-question-sign muted" title="{{ harvester['description'] }}" data-toggle="tooltip"></i>
        </label>
      {% endfor %}
    </div>
  </div>

  <div class="form-actions">
      {#  {% block delete_button %}
      {% if data.id %}
        {% if h.check_access('resource_delete', {'id': data.id})  %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this resource?')}) %}
          <a class="btn btn-danger pull-left" href={{ app_globals.site_url ~"/dataset"}}>{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% if stage %}
    {% block previous_button %}
      <button class="btn" name="save" value="go-dataset" type="submit">{{ _('Previous') }}</button>
    {% endblock %}
    {% block again_button %}
      <button class="btn" name="save" value="again" type="submit">{{ _('Save & add another') }}</button>
    {% endblock %}
    <button class="btn btn-primary" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Next: Additional Info') }}{% endblock %}</button>
    {% else %}#}
      <button class="btn btn-primary" name="save" value="go-metaschema-complete" type="submit">{{ _('Add') }}</button>
      {#  {% endif %}#}
  </div>






</form>
